@font-face
    font-family: "proxima"
    src: url("../fonts/Proxima_Nova_Light.otf")
    font-weight: light
    font-style: normal

@font-face 
    font-family: "proxima"
    src: url("../fonts/Proxima_Nova_Regular.otf")
    font-weight: regular
    font-style: normal

@font-face
    font-family: "proxima"
    src: url("../fonts/Proxima_Nova_Bold.otf")
    font-weight: bold
    font-style: normal

$grey: #f7f7f7

*
    &:focus,
    &:active,
    &:visited
        outline: none
        

html, 
body
    font-family: "proxima"

html,
body,
ul,
ol
    margin: 0
    padding: 0

a
    text-decoration: none

.tabs__content
    display: none

.active
    display: block
    
.jq-selectbox__select-text
    border-bottom: dashed 1px #000
    background: none
    cursor: pointer
    
.jq-selectbox__dropdown
    border: 1px solid #bdbdbd
    background: #fff
    width: auto !important
    border-radius: 3px
    margin-top: 5px
    li
        border-bottom: 1px solid #bdbdbd
        cursor: pointer
        padding: 5px 10px
        &:last-child
            border-bottom: none
        
         
.clearfix
    clear: both
    
input, textarea
    &:focus
        outline: none